.aside {
  position: relative;

  
  box-sizing:border-box;
  margin-right: 71px;
  width: 306px;
  height: 1198px;

  &__icon {
    width: 42px;
    height: 42px;
    margin-right: 12px;
  }
  &__top {
    display: flex;
    margin: 36px 0 65px 28px;
    align-items: center;
  }

  &__image {
    margin-right: 8px;
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center; 
    align-items: center;


    &-manager {
      margin-right: 12px;
    }
  }

  &__title {
    font-weight: $font-weight-bold;
    font-size: 26px;
    line-height: 39px;
    letter-spacing: 1%;
    margin-right: 4px;

    &-manager {
      color: #000000;
      font-weight: $font-weight-middle;
      font-size: $font-size-small;
      line-height: $line-height-small;
      letter-spacing: $letter-spacing-large;
    }
  }

  &__subtitle {
    font-weight: $font-weight-middle;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: $letter-spacing-small;
    margin-left: 4px;
    color: #838383;

    &-manager {
      color: #757575;
      font-weight: $font-weight-normal;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: $letter-spacing-large;;
    }
  }

  &__link {
    font-weight: $font-weight-middle;
    font-size: $font-size-small;
    line-height: $line-height-small;
    letter-spacing: $letter-spacing-small;
    color: #9197B3;
    display: flex;
    align-items: center;
    margin-bottom: 29px;
    position: relative;
    width: 250px;
    height: 46px;
    border-radius: 8px;
    padding: 11px 8px 11px 11px;
    box-sizing: border-box;

    &::after {
      content: ' >';
      width: 16px;
      height: 16px;
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      padding-right: 8px;
    }
  }

  &__person {
    display: flex;
    position: absolute;
    bottom: 76px;
    padding-left: 28px;
  }
  
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 14px;
}

.active {
  background-color: #5932EA;
  width: 250px;
  height: 46px;
  border-radius: 8px;
  display: flex;
  text-align: center;
  color:  #FFFFFF;
  
}


@media (max-width: 770px) {
  .aside {
    display: none;
  }
}