.customers {
  margin-top: 41px;
  width: 968px;
  height: 812px;

  &__greeting {
    margin-bottom: 51px;
    font-weight: $font-weight-middle;
    font-size: 24px;
    line-height: 36px;
  }

  &__wrapper {
    padding: 30px 44px 41px 38px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: $font-weight-bold;
    font-size: $font-size-large;
    line-height: $line-height-large;
    letter-spacing: $letter-spacing-small;
    margin-bottom: 7px;
  }

  &__subtitle {
    font-weight: $font-weight-normal;
    font-size: $font-size-small;
    line-height: $line-height-small;
    letter-spacing: $letter-spacing-small;
    color: #16C098;
  }

  &__search {
    padding: 7px 8px;
    display: flex;
    align-items: center;
    width: 216px;
    height: 38px;
    background-color: $background-color-white;
    border-radius: 10px;
    border-color: transparent;

    &-input {
      background-color: $background-color-white;
    border-color: transparent;
    }
  }

  &__td-actived {
    height: 29px;
    width: 80px;
    text-align: center;
    padding: 4px 12px 4px 12px;
    box-sizing: border-box;
    background-color: #21f4c3;
    color: $green-color;
    border: 1px solid $green-color;
    border-radius: 4px;

  }
  &__td-inactive {
    height: 29px;
    width: 80px;
    text-align: center;
    padding: 4px 12px 4px 12px;
    box-sizing: border-box;
    background-color: #FFC5C5;
    color: #DF0404;
    border: 1px solid #DF0404;
    border-radius: 4px;

  }
  
  &__table {
    padding-left: 38px;
    margin-bottom: 32px;
  }

  &__row {
    margin-bottom: 40px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding-left: 38px;
    &-subtitle {
      color: #B5B7C0;
      font-size: $font-size-small;
      font-weight: $font-weight-middle;
      line-height: $line-height-small;
      letter-spacing: $letter-spacing-small;
    }
  }

  &__button {
    width: 26px;
    height: 24px;
    background-color: #F5F5F5;
    border: 1px;
    border-radius: 4px;
    padding: 6px 9px 6px 9px;
    cursor: pointer;
    margin-right: 12px;
  }

}


.dots {
  cursor: pointer;
}

.button__active {
  background-color: #5932EA;
  color: white;
}

@media (max-width: 770px) {
  .customers {
    &__footer {
      padding-bottom: 35px;
      justify-content: space-around;
    }

    &__greeting {
        margin-left: 40px;
        margin-bottom: 15px;
      }
    &__row {
        margin-bottom: 20px;
      }

    &__button {
      margin-right: 6px;
    }
  }
}

@media (max-width: 550px) {
  .customers {
    &__title {
      font-size: 16px;
    }
    &__subtitle {
      font-size: 12px;
    }
    &__footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-subtitle {
        margin-bottom: 15px;
      }
    }
    &__search {
      width: 150px;
      height: 16px;
      &-input {
        font-size: 10px;
      }
    }
    &__image-search {
      width: 12px;
      height: 12px;
    }
  }
}
