table {
  height: 587px;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -1%;
  color: #B5B7C0;
}

td {
  color: #292D32;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -1%;
}

@media screen and (min-width: 768px) {
  .aside {
    width: 306px;
    height: 1198px;
    margin-right: 71px;
  }

  .customers {
    width: calc(100% - 306px);
    margin-top: 41px;
    margin-left: 20px;
  }
}
