.aside {
  position: relative;
  box-sizing: border-box;
  margin-right: 71px;
  width: 306px;
  height: 1198px;
}
.aside__icon {
  width: 42px;
  height: 42px;
  margin-right: 12px;
}
.aside__top {
  display: flex;
  margin: 36px 0 65px 28px;
  align-items: center;
}
.aside__image {
  margin-right: 8px;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside__image-manager {
  margin-right: 12px;
}
.aside__title {
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 1%;
  margin-right: 4px;
}
.aside__title-manager {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1%;
}
.aside__subtitle {
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -1%;
  margin-left: 4px;
  color: #838383;
}
.aside__subtitle-manager {
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1%;
}
.aside__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -1%;
  color: #9197B3;
  display: flex;
  align-items: center;
  margin-bottom: 29px;
  position: relative;
  width: 250px;
  height: 46px;
  border-radius: 8px;
  padding: 11px 8px 11px 11px;
  box-sizing: border-box;
}
.aside__link::after {
  content: " >";
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 8px;
}
.aside__person {
  display: flex;
  position: absolute;
  bottom: 76px;
  padding-left: 28px;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 14px;
}

.active {
  background-color: #5932EA;
  width: 250px;
  height: 46px;
  border-radius: 8px;
  display: flex;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 770px) {
  .aside {
    display: none;
  }
}
.main {
  display: flex;
}

.customers {
  margin-top: 41px;
  width: 968px;
  height: 812px;
}
.customers__greeting {
  margin-bottom: 51px;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.customers__wrapper {
  padding: 30px 44px 41px 38px;
  display: flex;
  justify-content: space-between;
}
.customers__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -1%;
  margin-bottom: 7px;
}
.customers__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -1%;
  color: #16C098;
}
.customers__search {
  padding: 7px 8px;
  display: flex;
  align-items: center;
  width: 216px;
  height: 38px;
  background-color: #F9FBFF;
  border-radius: 10px;
  border-color: transparent;
}
.customers__search-input {
  background-color: #F9FBFF;
  border-color: transparent;
}
.customers__td-actived {
  height: 29px;
  width: 80px;
  text-align: center;
  padding: 4px 12px 4px 12px;
  box-sizing: border-box;
  background-color: #21f4c3;
  color: 0B087;
  border: 1px solid 0B087;
  border-radius: 4px;
}
.customers__td-inactive {
  height: 29px;
  width: 80px;
  text-align: center;
  padding: 4px 12px 4px 12px;
  box-sizing: border-box;
  background-color: #FFC5C5;
  color: #DF0404;
  border: 1px solid #DF0404;
  border-radius: 4px;
}
.customers__table {
  padding-left: 38px;
  margin-bottom: 32px;
}
.customers__row {
  margin-bottom: 40px;
}
.customers__footer {
  display: flex;
  justify-content: space-between;
  padding-left: 38px;
}
.customers__footer-subtitle {
  color: #B5B7C0;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -1%;
}
.customers__button {
  width: 26px;
  height: 24px;
  background-color: #F5F5F5;
  border: 1px;
  border-radius: 4px;
  padding: 6px 9px 6px 9px;
  cursor: pointer;
  margin-right: 12px;
}

.dots {
  cursor: pointer;
}

.button__active {
  background-color: #5932EA;
  color: white;
}

@media (max-width: 770px) {
  .customers__footer {
    padding-bottom: 35px;
    justify-content: space-around;
  }
  .customers__greeting {
    margin-left: 40px;
    margin-bottom: 15px;
  }
  .customers__row {
    margin-bottom: 20px;
  }
  .customers__button {
    margin-right: 6px;
  }
}
@media (max-width: 550px) {
  .customers__title {
    font-size: 16px;
  }
  .customers__subtitle {
    font-size: 12px;
  }
  .customers__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .customers__footer-subtitle {
    margin-bottom: 15px;
  }
  .customers__search {
    width: 150px;
    height: 16px;
  }
  .customers__search-input {
    font-size: 10px;
  }
  .customers__image-search {
    width: 12px;
    height: 12px;
  }
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Poppins", sans-serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: auto;
}

td,
th {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

th {
  margin: 0;
  padding: 0;
}

table {
  height: 587px;
  border-collapse: collapse;
  width: 988px;
  overflow-x: auto;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -1%;
  color: #B5B7C0;
}

td {
  color: #292D32;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -1%;
}

@media (max-width: 770px) {
  table {
    width: 100%;
    height: 100%;
  }
  th,
  td {
    padding: 8px;
    font-size: 10px;
  }
}
@media (max-width: 550px) {
  th,
  td {
    padding: 4px;
    font-size: 8px;
  }
}
#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition: 0.3s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: start;
  transition: 0.3s;
}

.main__nav {
  display: none;
}

.hamburger-menu {
  display: none;
}

.menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #cfd8dc;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

@media (max-width: 770px) {
  .main-nav,
  .hamburger-menu {
    display: block;
  }
}
@media (max-width: 550px) {
  .menu__box {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
