$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 22px;
$font-size-tablet: 10px;
$font-size-mobile: 8px;
$font-weight-normal: 400;
$font-weight-middle: 500;
$font-weight-bold: 600;
$line-height-small: 21px;
$line-height-medium: 24px;
$line-height-large: 33px;

$letter-spacing-small: -1%;
$letter-spacing-large: 1%;
$background-color-white: #F9FBFF;
$green-color: 00B087;
